* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: rgb(200, 200, 200);
  --sidebar-color: rgb(255, 255, 255);
  --primary-color: rgb(106, 126, 252);
  --primary-color-light: rgb(106, 126, 252);
  --text-color: rgb(25, 25, 25);

  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
