* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: rgb(20, 20, 20);
  --sidebar-color: rgb(40, 40, 40);
  --primary-color: rgb(106, 252, 196);
  --primary-color-light: rgb(106, 252, 196);
  --text-color: rgb(245, 245, 245);

  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}
